{% extends "account/base.html" %}

{% block title %}Apply for a Business Certificate{% endblock title %}

{% load crispy_forms_tags %}

{% load form_tags %}

{% block content %}
<main class="main-content" id="mainContent">
    <div class="pt-4">
      <h2 class="fw-bold mb-4 mt-2">Apply for a Business Certificate</h2>
      <p class="lead">Complete the form below to begin your application process.</p>
  
      <div class="row g-3 mb-4 mt-5">
        <div class="container">
            <form method="POST">
              {% csrf_token %}

              <div class="row">
                  <div class="col-md-6 mb-3">
                      {{ form.full_name|as_crispy_field }}
                  </div>
                  <div class="col-md-6 mb-3">
                      {{ form.dob|as_crispy_field }}
                  </div>
                  <div class="col-md-6 mb-3">
                      {{ form.marital_status|as_crispy_field }}
                  </div>
                  <div class="col-md-6 mb-3">
                      {{ form.place_of_birth|as_crispy_field }}
                  </div>
                  <div class="col-md-6 mb-3">
                      {{ form.nationality|as_crispy_field }}
                  </div>
                  <div class="col-md-6 mb-3">
                      {{ form.occupation|as_crispy_field }}
                  </div>
                  <div class="col-md-6 mb-3">
                      {{ form.contact_number_one|as_crispy_field }}
                  </div>
                  <div class="col-md-6 mb-3">
                      {{ form.contact_number_two|as_crispy_field }}
                  </div>
                  <div class="col-md-6 mb-3">
                      {{ form.email|as_crispy_field }}
                  </div>
                  <div class="col-md-6 mb-3">
                      {{ form.business_name|as_crispy_field }}
                  </div>
                  <div class="col-md-6 mb-3">
                      {{ form.nature_of_business|as_crispy_field }}
                  </div>
                  <div class="col-md-6 mb-3">
                      {{ form.type_of_business|as_crispy_field }}
                  </div>
                  <div class="col-md-6 mb-3">
                      {{ form.postal_address|as_crispy_field }}
                  </div>
                  <div class="col-md-6 mb-3">
                      {{ form.company_email|as_crispy_field }}
                  </div>
                  <div class="col-md-6 mb-3">
                      {{ form.company_building_number|as_crispy_field }}
                  </div>
                  <div class="col-md-6 mb-3">
                      {{ form.company_landmark|as_crispy_field }}
                  </div>
                  <div class="col-md-6 mb-3">
                      {{ form.area|as_crispy_field }}
                  </div>
                  <div class="col-md-6 mb-3">
                      {{ form.district|as_crispy_field }}
                  </div>
                  <div class="col-md-6 mb-3">
                      {{ form.company_gps_address|as_crispy_field }}
                  </div>
                  <div class="col-md-6 mb-3">
                      {{ form.ghana_card_number|as_crispy_field }}
                  </div>
                  <div class="col-md-6 mb-3">
                      {{ form.tin_number|as_crispy_field }}
                  </div>
              </div>

              <div class="text-center mt-4">
                  <button type="submit" class="btn btn-success btn-lg">
                      <i class="bi bi-check-circle"></i> Submit Application
                  </button>
              </div>
          </form>
        </div>
      </div>
    </div>


</main>
{% endblock content %}